html {
    height: 100%;
    min-height: 100%;
}

#logo-style {
    width: 272px;
    height: 92 px
}

#navbar {
    display: grid;
    grid-template-columns: 50px 50px 1fr 50px 50px 50px 50px;
    grid-template-rows: 50px;
    grid-template-areas: 
    "about store . gmail image menu sign-in";
    align-items: center;
}

a {
    text-decoration: none;
    color: rgba(0,0,0,.87);
    font-family: arial,sans-serif;
    font-size: 14px;
}

#about {
    grid-area: about;
    justify-content: center;
    align-self: center;
    text-align: center;
}

#store {
    grid-area: store;
    justify-content: center;
    align-self: center;
    text-align: center;
}

#gmail {
    grid-area: gmail;
    justify-content: center;
    align-self: center;
    text-align: center;
}

#image {
    grid-area: image;
    justify-content: center;
    align-self: center;
    text-align: center;
}

#menu {
    grid-area: menu;
    justify-content: center;
    align-self: center;
    text-align: center;
}

#sign-in {
    grid-area: sign-in;
    justify-content: center;
    align-self: center;
    text-align: center;
}

#center-section {
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    grid-template-rows: 250px 70px 70px 250px;
    grid-template-areas: 
    ". logo-link ."
    ". search ."
    ". flexbox ."
    ". results .";
}

#results {
    grid-area: results;
    align-self: start;
}


#logo-link {
    grid-area: logo-link;
    justify-self: center;
    align-self: end;
}
#search {
    grid-area: search;
    height: 30px;
    width: 500px;
    align-self: center;
    justify-self: center;
    margin: 0em 0 1em
}
#flexbox {
    display: flex;
    grid-area: flexbox;
    justify-content: center;
    align-self: center;
}

body {
    overflow: hidden; /* Hide scrollbars */
}

#uk {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 8%;
    bottom: 0;
    position: absolute;
    grid-template-areas: uk;
    background: rgba(128,128,128, 0.15);
    color: rgba(128,128,128);
    border-bottom: outset;

}
#top-row {
    display: grid;
    grid-template-columns: 100px;
    grid-template-rows: 50px;
    grid-template-areas:
    "uk";
    padding-left: 1em;
}


#bottom-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    bottom: 0;
    position: absolute;
}

#left-footer {
    display: grid;
    grid-template-columns: 100px 100px 120px;
    grid-template-rows: 50px;
    grid-template-areas:
    "advertising business search-works";
    padding-left: 1em
}

#right-footer {
    display: grid;
    grid-template-columns: 70px 70px 70px;
    grid-template-rows: 50px;
    grid-template-areas: "privacy terms settings";
    padding-right: 1em;
}

#center-footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px;
    grid-template-areas: "carbon";
}

#advertising {
    grid-template-areas: advertising;
    color: rgba(128,128,128);
    justify-self: center;
    align-self: center;
}
#business {
    grid-template-areas: business;
    color: rgba(128,128,128);
    justify-self: center;
    align-self: center;
}
#search-works {
    grid-template-areas: search-works;
    color: rgba(128,128,128);
    justify-self: center;
    align-self: center;
}
#carbon {
    grid-template-areas: carbon;
    color: rgba(128,128,128);
    justify-self: center;
    align-self: center;
}
#privacy {
    grid-template-areas: privacy;
    color: rgba(128,128,128);
    justify-self: center;
    align-self: center;
}
#terms {
    grid-template-areas: terms;
    color: rgba(128,128,128);
    justify-self: center;
    align-self: center;
}
#settings {
    grid-template-areas: settings;
    color: rgba(128,128,128);
    justify-self: center;
    align-self: center;
}

#leaf {
    padding-right: 7px;
}


